li.mistake {
    background-color: red;
}
header.smaller {
	height: 75px;
}

header.smaller h1#logo {
	width: 150px;
	height: 75px;
	line-height: 55px;
	font-size: 55px;
	margin: 0;
}

header.smaller nav a {
	line-height: 75px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	 background-image: url("images/background.jpg");
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.8;
        text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 100;
	color: black;
        text-align: center;
}

a {
	text-decoration: none;
	color: #fcfcfc;
	font-weight: 500;
}

a:hover {
	color: #3c3c3c;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
        color: #000;
        
        border: none;
        
       .maleclss {
            border: thick black solid;
        }
}
.checkbox {
    border: thick black solid;
    font-weight: bold;
    padding: 2em;
}
.radio {
     border: thick black solid;
    font-weight: bold;
    padding: 2em;
}
.textarea {
     border: thick black solid;
    font-weight: bold;
    padding: 2em;
}
.contact {
     border: thick black solid;
    font-weight: bold;
    padding: 2em;
}
.buttons {
     border: none;
    font-weight: bold;
    padding: 0em;
    font-size: 16px;
    
}
.listbox {
     border: thick black solid;
    font-weight: bold;
    padding: 2em;
}
.wrapperTwo {
  border: none;  
}
.wrapper {
     border: none;
    font-weight: bold;
    padding: 2em;
}

#main {
	background-image: url("images/background.jpg");
	padding-top: 150px;
  min-height:500px;
}

.container {
	width: 70%;
	margin: 0 auto;
	padding: 0 30px;
}

section {
	padding: 60px 0;
}

section h1 {
	font-weight: 700;
	margin-bottom: 10px;
}

#wrapper h1 {
    margin-top: 200px;
}

section p {
	margin-bottom: 30px;
}

section p:last-child {
	margin-bottom: 0;
}

section.color {
	  background-image: url("images/background.jpg");
}

header {
      background-image:url("images/headerimg.jpg");
      
         background-repeat:no-repeat;
    background-size: 100% 100%;
    margin-right: auto;
    margin-left: auto;
	width: 100%;
	
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
        height: 160px;
	background-color: #394e63;
	-webkit-transition: height 0.1s;
	-moz-transition: height 0.1s;
	-ms-transition: height 0.1s;
	-o-transition: height 0.1s;
	transition: height 0.1s;
}
h1#historyhead {
  color: black;
  text-align: center;
  size: 20px;
    
}
#histpara {
    text-align: center;
    size: 14px;
}

header h1#logo {
	display: inline-block;
	line-height:3em;
   margin: 0;
  
   
   padding:0 1em;
   background-color:#fd5559;
	float: left;
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	color: #fcfcfc;
  text-shadow: 0.1em 0.03em #C0392B;
  
	font-weight: 400;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header nav {
	display: inline-block;
	float: right;
        margin-right: 20%;
        top: 45%;
}

header nav a {
	line-height: 80%;
	margin-left: 20px;
        position: relative;
        top: 60%;
	color: black;
	font-weight: 600;
	font-size: 1em;
        text-decoration: underline;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header nav a:hover {
	color: #fd5559;
}

header.smaller {
	height: 75px;
}

header.smaller h1#logo {
	line-height: 75px;
	font-size: 30px;
}

header.smaller nav a {
	line-height: 75px;
}
.contactus {
    margin-left: 3em;
 
   
}
.directions {
        margin-left: 3em;
        
       
        

}
.fb-like {
    
}
footer {
	background-color: #3c3c3c;
	text-align: center;
   min-height:17em;
   color: #bababa;
   max-height: 90%;
   margin-right: 1em;
   
}

footer  a {
	display: inline-block;
	margin: 0;
  text-decoration:underline;
}
footer div.col {
  width:20%;
  display:inline-block;
  vertical-align: top;
}
footer col a {
  display:block;
}

footer ul li a:hover {
	color: #fd5559;
}
footer ul li a {
    color: #bababa;  
}
footer div#copy {
  margin-top: 1em;
  padding:0;
}
footer div#copy a {
  color: #fd5559;  
}
footer div.container {
  position:relative;
  
}
footer ul{
  list-style:none;
  margin-top:2em;
  padding:0;
}
footer ul li {
  text-align:left;
  margin:0;
  padding:0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

@media all and (max-width: 760px) {
	header h1#logo {
		display: block;
		float: none;
		margin: 0 auto;
		height: 100px;     
		line-height: 80px;
		text-align: center;
	}

	header nav {
		display: block;
		float: none;
		height: 50px;
		text-align: center;
		margin: 0 auto;
	}

	header nav a {
		line-height: 50px;
		margin: 0 10px;
	}

	header.smaller {
		height: 75px;
	}

	header.smaller h1#logo {
		height: 40px;
		line-height: 40px;
		font-size: 30px;
     width:100%;
	}

	header.smaller nav {
		height: 35px;
	}

	header.smaller nav a {
		line-height: 35px;
	}
  footer div.col {
    width:100%;
    display:inline-block;
    vertical-align: top;
  }
  footer ul li {
    display:inline-block;
    margin:0 0.5em;
    float:left;
  }

}

@media all and (max-width: 600px) {
	.container {
		width: 100%;
	}

	footer a {
		display: block;
	}
}
footer googmap {
    
}

a { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #000;}
.social { list-style:none; margin-top:2em;}
.social li { display:inline; float:left; margin: 0 40px 0 0; }
.social li a { display:block; width:64px; height:64px; position:relative; }
.social li a strong { position: absolute; left: 0px; top: 10px;}

li.fb { background:url("http://3.bp.blogspot.com/-GBtZIVeafFU/UZ1FYjGvufI/AAAAAAAACII/HGNZIJO1oT0/s1600/facebook-64.png") #3B5998; }
li.twitter { background:url("http://2.bp.blogspot.com/-ks0tKggjK-w/UZ1FYhudbWI/AAAAAAAACIM/smFlLtwfbxk/s1600/twitter-64.png") #0092cb; }
li.urbanspoon {background:url("http://www.appsta.com/sites/default/files/imagecache/tool_logo_views_65/logos/tools/urbanspoon-for-iphone-logo.png")#FFFFFF; }
li.pinterest { background: url("http://2.bp.blogspot.com/-rrfHctafSPE/Uqc-nMRtnzI/AAAAAAAAAQ8/nqHLhAt47Xo/s70-c/05734970-photo-pinterest-logo.jpg")#FFFFFF; }
li.googleplus { background: url("http://www.trident-dental.com/wp-content/uploads/2014/10/trident-social-google-plus-icon.png")#FFFFFF; }
.social:hover li { opacity:0.3; }
.social li { transition-property: opacity; transition-duration: 500ms; }
.social li a strong { opacity:0; transition-property: opacity, top; transition-duration: 250ms;}
.social li:hover { opacity:1; }
.social li:hover a strong { opacity:1; top:-23px; }

//for slider//
slidy-container slidy sliderbutton {
    margin-right: auto;
    margin-left: auto;
}

#video {
display: block;
	margin-right: auto;
	margin-left: auto;
	

	
    
    
    
 
}

//for facebook like page//
 redes-sociales fb-like {
    
    display:inline; float:left; margin: 0 40px 0 0; 
  color: white;
}
//header nav//

//form style for errors//
.required {
    font-weight:bolder;
    font-style:italic;
}
#errors {
    color: red;
    text-align: center;
}

//form button//
fieldset {
    color: #FFFFFF;
    border-color: black;
    font-size: 17px;
}
#formRef {
    border: thick black solid;
    background-color: white;
    opacity: .5;
    margin-left:5%;
       margin-right:5%;
}
input {
    background-color: green;
}

//legend//
#legend1 {
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}
//mistakes for forms//
.mistake {
  background-color: red;
  border:thin solid red;
  color: white;
}

#footercontact {
    position: absolute;
    margin-top: 100px;
    left: 100px;
}

input#txtEmail {
    width: 15em;
    border:  black; 
}

.txtEmail {
    border: thick black solid;
}
.emailTxt{
    border: none;
}
fieldset.emailTxt {
    border: thick black solid;
}
fieldset.buttons {
    text-align: center;
    font-weight: bold;
}

.highlight {
    background-color: #fcfcfc;
    opacity: .9;
}

// intro page;;
#intropage {
    
}
p.intropage {
    margin-right: 10em;
    margin-left: 10em;
}
h1#introid {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

//comment





ol ol ol li {
    list-style: outside none lower-alpha;
}
ol ol li {
    font-weight: normal;
    list-style: outside none decimal;
    padding-top: 0;
}
ol li {
    font-weight: bold;
    list-style: outside none upper-roman;
    padding-top: 1em;

}
ul ul ul li {
    list-style: outside none circle;
}
ul ul li {
    list-style: outside none square;
}
ul li {
    list-style: outside none disc;
}

#home {
    background-color: #aaaaaa;
}
#home p {
    text-indent: 3em;
}
ol li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    width: 15em;
}



img{

    padding: .2em;
    height: 300px;
    width: 300px;

}



ol{
    margin-left: 1em;
}

ol li{
    background-color: #F3EFE0;
    border: thin solid darkgray;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    
    box-shadow: 10px 10px 5px #888888;
    display: inline;

    list-style-type: none;
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 320px;
}
ol + li{
    margin-left: 0;
}


/* ---------------------------   media queries ----------------------------- */

/* laptops, large desktops */
@media screen and (min-width:1025px){
    body {
        width: 100%;
    }

}

/* ipad and desktop size */
@media screen and (max-width:1024px){
    body {		
        margin: 5em;
    }
}

/* ipad portrait */
@media screen and (max-width:768px){
    body {

    }
}

/* tablets in portrait mode */
@media screen and (max-width:600px){
    body {

    }
}

/* mobile device landscape */
@media screen and (max-width:480px){
    body {

        margin: 1em;

    }

}

/* mobile device portrait */
@media screen and (max-width:320px){
    body {

        margin: 1em;

    }

    nav ol li{
        display: block;
        padding: .5em;
    }

}

ul.img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.img-list li {
    display: inline-block;
    height: 300px;
    margin: 0 1em 1em 0;
    position: relative;
    width: 300px;
}


span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

ul.img-list li:hover span.text-content {
    opacity: 1;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 300px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}